<div class="container">
    <div class="meal-form">
    <form>
    <h3>Enter your Meal:</h3>
<div class="row">

<div class="form-group col-sm-4">
    <label for="name">Name</label>
    <input [(ngModel)]="meals.mealName" class= "form-control" id="name"  placeholder="Name"  name="name" type ="text">
</div>

<div class="form-group col-sm-4">
    <label for="name">Details:</label>
    <input [(ngModel)]="meals.details" id="details" placeholder="Details" name ="details" >
</div>

<div class="form-group col-sm-4">
    <label for="name">Calories:</label>
    <input [(ngModel)]="meals.calories" id="calories" placeholder="Calories" name= "calories" type="number">
</div>
</div>
<br>
<button (click) = "submitMeal()" class=" btn btn-success">Submit</button>
    </form>
    </div>
</div>
