body {
    /*background-image: linear-gradient(180deg, #9ca089, #7c806d, #4e5044, #1f201b);*/
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
}

.jumbotron{
    width: 900px;
    height: 150px;
}

/*.main-header img{
    height: 600px;
    width :100%;
    background-size: contain;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.5);;
    border-radius: 15px;
}*/


/*.fieldset{
    width: 600px;
    height: 400px;
    background-color: lavender;
    border: solid 1px silver;
}*/


/*.meal-panel {
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5); ;
    border-radius: 4px 4px;
    margin: 0px 40% 5px 40%;
}
*/

.table{
    padding:  0px 2px 0px 2px;
    color: black;

}
